Usage: pdm export [-h] [-v] [-g] [-p PROJECT_PATH] [-L LOCKFILE]
                  [-f {pipfile,poetry,flit,setuppy,requirements}] [-G GROUP]
                  [--no-default] [-d | --prod] [--without-hashes] [-o OUTPUT]
                  [--pyproject]

Export the locked packages set to other formats

Options:
  -h, --help            show this help message and exit
  -v, --verbose         -v for detailed output and -vv for more detailed
  -g, --global          Use the global project, supply the project root with
                        `-p` option
  -p PROJECT_PATH, --project PROJECT_PATH
                        Specify another path as the project root, which
                        changes the base of pyproject.toml and __pypackages__
  -L LOCKFILE, --lockfile LOCKFILE
                        Specify another lockfile path. Default: pdm.lock. [env
                        var: PDM_LOCKFILE]
  -f {pipfile,poetry,flit,setuppy,requirements}, --format {pipfile,poetry,flit,setuppy,requirements}
                        Specify the export file format
  --without-hashes      Don't include artifact hashes
  -o OUTPUT, --output OUTPUT
                        Write output to the given file, or print to stdout if
                        not given
  --pyproject           Read the list of packages from pyproject.toml

Dependencies Selection:
  -G GROUP, --group GROUP
                        Select group of optional-dependencies or dev-
                        dependencies(with -d). Can be supplied multiple times,
                        use ":all" to include all groups under the same
                        species.
  --no-default          Don't include dependencies from the default group
  -d, --dev             Select dev dependencies
  --prod, --production  Unselect dev dependencies
