swagger: "2.0"
info:
  title: NINE30 APIs
  description: "NINE30 APIs"
  version: "1.0.0"
host: api.nine30.com
schemes:
  - "https"

paths:
  /v1/users:
    post:
      description: "Notify creation of a new user"
      tags:
        - Users
      operationId: "accounts"
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/new_user
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: "new user payload"
          schema:
            $ref: "#/definitions/User"
      responses:
        "200":
          description: OK
        "400":
          description: Payload missing or incorrect
    options:
      description: "CORS support"
      operationId: "accounts-cors"
      tags:
        - Users
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/new_user
      responses:
        "204":
          description: OK

  /v1/slackbot:
    post:
      description: "Slackbot"
      operationId: "slack-post"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/slackbot

      responses:
        "200":
          description: OK

    get:
      description: "Slackbot"
      operationId: "slack-get"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/slackbot
      responses:
        "200":
          description: OK

  /v1/missions:
    post:
      description: "Create a new investment Mission for the authenticated user"
      operationId: "new-mission"
      tags:
        - Missions
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/missions
        allowCors: True
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/NewMission"
      responses:
        "201":
          description: OK
          schema:
            $ref: "#/definitions/MissionStatus"

  /v1/chatbot:
    post:
      description: "Interface with Chatbot"
      operationId: "chatbot-post"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/chatbot
      parameters:
        - name: body
          in: body
          required: true
          description: "chat input"
          schema:
            $ref: "#/definitions/ChatIn"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ChatOut"

    get:
      description: "Get past chat sessions"
      operationId: "chatbot-get"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/chatbot
      parameters:
        - name: sessionId
          in: query
          type: string
          description: Return details for a specific Chat Session
      responses:
        "200":
          description: OK

    options:
      description: "CORS support"
      operationId: "chatbot-cors"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/chatbot
      responses:
        "204":
          description: OK

  /v1/users/{emailId}:
    get:
      description: "Get user state and details"
      operationId: "getUserDetails"
      tags:
        - Users
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/get_user_details
      parameters:
        - in: path
          name: emailId
          required: true
          type: string
          description: Id of user to update
      responses:
        "200":
          description: OK
        "404":
          description: user does not exist
        "405":
          description: invalid route parameters

    options:
      description: "CORS support"
      operationId: "getUserDetails-cors"
      tags:
        - Users
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/get_user_details
      parameters:
        - in: path
          name: emailId
          required: true
          type: string
          description: Id of user to update
      responses:
        "204":
          description: OK

  /v1/users/{emailId}/topup:
    put:
      description: "Update User top-up schedule and amount"
      operationId: "updateTopup"
      tags:
        - Funding
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/topup
      consumes:
        - application/json
      parameters:
        - in: path
          name: emailId
          required: true
          type: string
          description: Id of user to update
        - in: body
          name: topupPayload
          required: true
          description: "update topup payload"
          schema:
            $ref: "#/definitions/UpdateUserTopup"
      responses:
        "200":
          description: OK
        "400":
          description: Payload missing or incorrect
    options:
      description: "CORS support"
      operationId: "update-topup-cors"
      tags:
        - Funding
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/topup
      parameters:
        - in: path
          name: emailId
          required: true
          type: string
          description: Id of user to update
      responses:
        "204":
          description: OK

definitions:
  User:
    type: object
    properties:
      user_id:
        description: New Stytch user_id
        type: string
      email_id:
        description: reference to the user's email address stored in Stytch
        type: string

  ChatIn:
    type: object
    required: # List the required properties here
      - question
    properties:
      sessionId:
        description: optional identification of the chat session, if not provided a new id will be generate
        type: string
      question:
        description: Input Question
        type: string

  ChatOut:
    type: object
    properties:
      sessionId:
        description: identification of the chat session
        type: string
      answer:
        description: Chatbot Answer
        type: string

  UpdateUserTopup:
    type: object
    properties:
      amount:
        description: Set 'top-up' amount, multiplied by 100 (for cents)
        type: integer
        format: int32
      frequency:
        description: How often to top-up the account
        type: string
        enum:
          - weekly
          - monthly

  NewMission:
    type: object
    properties:
      name:
        description: "User selected mission name"
        type: string
      strategy:
        description: "Mission strategy"
        type: string

  MissionStatus:
    type: object
    properties:
      id:
        description: "Mission identification"
        type: string
      status:
        description: "Mission creation status"
        type: string
        enum:
          - created
          - rebalanced
      created:
        description: "Mission created timestamp"
        type: string
      last_rebalanced:
        description: "Last rebalanced timestamp"
        type: string
      rebalanced_trigger:
        description: "Last rebalanced trigger"
        type: string
        enum:
          - manual
          - calendar
          - redeem
          - topup