swagger: "2.0"
info:
  title: Create a new user
  description: "Notify NINE30 of a newly registered user"
  version: "1.0.0"
host: api.nine30.com
schemes:
  - "https"
paths:
  /v1/users:
    post:
      description: "Notify creation of a new user"
      operationId: "accounts"
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/new_user
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: "new user payload"
          schema:
            $ref: "#/definitions/User"
      responses:
        "200":
          description: OK
        "400":
          description: Payload missing or incorrect
    options:
      description: "CORS support"
      operationId: "accounts-cors"
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/new_user
      responses:
        "204":
          description: OK

  /v1/users/{userId}/topup:
    put:
      description: "Update User top-up schedule and amount"
      operationId: "updateTopup"
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/topup
      consumes:
        - application/json
      parameters:
        - in: path
          name: userId
          required: true
          type: string
          description: Id of user to update
        - in: body
          name: topupPayload
          required: true
          description: "update topup payload"
          schema:
            $ref: "#/definitions/UpdateUserTopup"
      responses:
        "200":
          description: OK
        "400":
          description: Payload missing or incorrect
    options:
      description: "CORS support"
      operationId: "update-topup-cors"
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/topup
      responses:
        "204":
          description: OK

definitions:
  User:
    type: object
    properties:
      user_id:
        description: New Stytch user_id
        type: string
      email_id:
        description: reference to the user's email address stored in Stytch
        type: string
  UpdateUserTopup:
    type: object
    properties:
      Amount:
        description: Set 'top-up' amount
        type: string
      Frequency:
        description: How often to top-up the account
        type: string
        enum:
          - weekly
          - monthly
