swagger: "2.0"
info:
  title: NINE30 APIs
  description: "NINE30 APIs"
  version: "1.0.0"
host: api.nine30.com
schemes:
  - "https"

paths:
  /v1/users:
    post:
      description: "Notify creation of a new user"
      tags:
        - Users
      operationId: "accounts"
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/new_user
      consumes:
        - application/json
      responses:
        "200":
          description: OK
        "400":
          description: User already exist

    get:
      description: "Get state and details of the authenticated suer"
      operationId: "getUserDetails"
      tags:
        - Users
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/get_user_details
      responses:
        "200":
          description: OK
        "404":
          description: user does not exist
        "405":
          description: invalid route parameters

    options:
      description: "CORS support"
      operationId: "accounts-cors"
      tags:
        - Users
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/new_user
      responses:
        "204":
          description: OK

  /v1/users/preferences:
    patch:
      description: "Update User Preferences"
      tags:
        - Users
      operationId: "preferences"
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/preferences
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/Preferences"
      responses:
        "200":
          description: Updated
        "400":
          description: Invalid request
    options:
      description: "CORS support"
      operationId: "preferences-cors"
      tags:
        - Users
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/preferences
      responses:
        "204":
          description: OK

  /v1/slackbot:
    post:
      description: "Slackbot"
      operationId: "slack-post"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/slackbot

      responses:
        "200":
          description: OK

    get:
      description: "Slackbot"
      operationId: "slack-get"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/slackbot
      responses:
        "200":
          description: OK

  /v1/missions/plaid/{publicToken}:
    post:
      description: "Establish link to Plaid"
      operationId: "plaidLink"
      tags:
        - Missions
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/plaid
      parameters:
        - in: path
          name: publicToken
          required: true
          type: string
          description: Plaid publicToken
      responses:
        "200":
          description: Link established
        "400":
          description: Something went wrong, follow-up tasks not scheduled

    options:
      description: "CORS support got plaid"
      operationId: "plaid-cors"
      tags:
        - Missions
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/plaid
      parameters:
        - in: path
          name: publicToken
          required: true
          type: string
          description: Plaid publicToken
      responses:
        "204":
          description: OK

  /v1/missions:
    post:
      description: "Rebalance an investment Mission for the authenticated user"
      operationId: "new-mission"
      tags:
        - Missions
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/missions
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/MissionDetails"
      responses:
        "201":
          description: OK
          schema:
            $ref: "#/definitions/MissionStatus"

    options:
      description: "CORS support"
      operationId: "missions-cors"
      tags:
        - Missions
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/missions
      responses:
        "204":
          description: OK

  /v1/missions/suggestion:
    get:
      description: "Get a suggested mission details, based on user knowledge"
      operationId: "suggestedMission"
      tags:
        - Missions
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/missions
      parameters:
        - name: initialAmount
          in: query
          required: false
          type: string
          description: Optional initial investment amount
        - name: weeklyTopup
          in: query
          required: false
          type: string
          description: Optional weekly topup
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MissionSuggestions"

    options:
      description: "CORS support"
      operationId: "mission-suggestion-cors"
      tags:
        - Users
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/missions
      responses:
        "204":
          description: OK

  /v1/runs/{runId}:
    patch:
      description: "Validate scheduled run, if completed check execution status if not all passed re-balance again."
      operationId: "validate-mission"
      tags:
        - Missions
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/missions
      parameters:
        - in: path
          name: runId
          required: true
          type: string
          description: Missions rebalance run-id
      responses:
        "200":
          description: Rebalance completed ok
        "201":
          description: New rebalance task had to be scheduled
        "202":
          description: Run not completed yet, another run validation task scheduled
        "400":
          description: Something went wrong, follow-up tasks not scheduled

  /v1/chatbot:
    post:
      description: "Interface with Chatbot"
      operationId: "chatbot-post"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/chatbot
      parameters:
        - name: body
          in: body
          required: true
          description: "chat input"
          schema:
            $ref: "#/definitions/ChatIn"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ChatOut"

    get:
      description: "Get past chat sessions"
      operationId: "chatbot-get"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/chatbot
      parameters:
        - name: sessionId
          in: query
          type: string
          description: Return details for a specific Chat Session
      responses:
        "200":
          description: OK

    options:
      description: "CORS support"
      operationId: "chatbot-cors"
      tags:
        - Chat
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/chatbot
      responses:
        "204":
          description: OK

  /v1/users/topup:
    put:
      description: "Update top-up schedule and amount for the authenticated user"
      operationId: "updateTopup"
      tags:
        - Funding
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/topup
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: "update topup payload"
          schema:
            $ref: "#/definitions/TopupRequest"
      #            type: array
      #            items:
      #              $ref: "#/definitions/TopupRequest"

      responses:
        "200":
          description: OK
        "400":
          description: Payload missing or incorrect

  /v1/transfers/{transferId}:
    get:
      description: "Validate transfer"
      operationId: "validateTransfer"
      tags:
        - Funding
      x-google-backend:
        address: https://us-east4-development-380917.cloudfunctions.net/topup
      consumes:
        - application/json
      parameters:
        - in: path
          name: transferId
          required: true
          type: string
          description: Transfer id
      responses:
        "200":
          description: OK

definitions:
  User:
    type: object
    properties:
      userId:
        description: reference to the user-id stored in Stytch
        type: string

  Preferences:
    type: object
    properties:
      riskLevel:
        type: string
        enum:
          - low
          - medium
          - high

  ChatIn:
    type: object
    required: # List the required properties here
      - question
    properties:
      sessionId:
        description: optional identification of the chat session, if not provided a new id will be generate
        type: string
      question:
        description: Input Question
        type: string

  ChatOut:
    type: object
    properties:
      sessionId:
        description: identification of the chat session
        type: string
      answer:
        description: Chatbot Answer
        type: string

  TopupRequest:
    type: object
    properties:
      amount:
        description: Set 'top-up' amount, multiplied by 100 (for cents)
        type: integer
        format: int32
      frequency:
        description: How often to top-up the account
        type: string
        enum:
          - immediate
          - weekly
          - monthly

  MissionDetails:
    type: object
    properties:
      name:
        description: "User selected mission name"
        type: string
      strategy:
        description: "Mission strategy"
        type: string
      initialAmount:
        description: "initial  investment amount"
        type: integer
        format: int32
      weeklyTopup:
        description: "weekly recurring investment"
        type: integer
        format: int32

  MissionStatus:
    type: object
    properties:
      id:
        description: "Mission identification"
        type: string
      status:
        description: "Mission creation status"
        type: string
        enum:
          - created
          - rebalanced
      created:
        description: "Mission created timestamp"
        type: string
      last_rebalanced:
        description: "Last rebalanced timestamp"
        type: string
      rebalanced_trigger:
        description: "Last rebalanced trigger"
        type: string
        enum:
          - manual
          - calendar
          - redeem
          - topup

  MissionSuggestions:
    type: object
    properties:
      strategy:
        description: "Mission strategy name"
        type: string
      initialAmount:
        description: "initial suggested investment amount"
        type: integer
        format: int32
      topupAmount:
        description: "initial suggested topup amount"
        type: integer
        format: int32
      topupFrequency:
        description: "initial suggested topup frequency"
        type: string
        enum:
          - weekly
          - monthly
      forecast:
        description: "forward looking forecast"
        type: array
        items:
          type: integer
